<%= render "welcome/toolbar" %>
<h1>
  <%= @restaurant.name %>
</h1>

<p>
  <%= @restaurant.description %>
</p>

<p>
  <%= @restaurant.address %>
</p>

<p>
  <%= @restaurant.phone_number %>
</p>

<p>
  <%= image_tag @restaurant.image_url(:masthead) %>
</p>

<p>
  <% if current_owner.id == @restaurant.owner_id %>
    <%= link_to "edit", edit_restaurant_path(@restaurant) %>
    <%= link_to "destroy", restaurant_path(@restaurant), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</p>

<p>
  <img src=<%= @staticMapURL %>>
</p>

<%= render "reservations/place_reservation" %>

<% if current_owner.id == @restaurant.owner_id %>
  <h2>Reservations</h2>
  <%= render @restaurant.reservations %>
<% end %>
