<%= render "welcome/toolbar" %>
<h1>
  <%= @restaurant.name %>
</h1>
<p>
  TOTAL STARS <%= @restaurant.starred_by.count %>
  <% if current_user && current_user.starred_restaurants.find_by(:id => @restaurant.id) %>
    <%= link_to "UNSTAR THIS", @restaurant.id.to_s+"/stars/"+current_user.starred_restaurants.find_by(:id => @restaurant.id).id.to_s, :method => :delete %>
  <% elsif current_user %>
    <%= link_to "STAR THIS", restaurant_stars_path(@restaurant), :method => :post %>
  <% end %>
  

</p>

<p>
  <%= @restaurant.description %>
</p>
<p>
Categories:

<% @restaurant.categories.each do |category| %>
  <%= category.name %>
<% end %>
</p>

<p>
  <%= @restaurant.address %>
</p>

<p>
  <%= @restaurant.phone_number %>
</p>

<p>
  <%= image_tag @restaurant.image_url(:masthead) %>
</p>

<p>
  <% if current_user && current_user.id == @restaurant.user_id %>
    <%= link_to "edit", edit_restaurant_path(@restaurant) %>
    <%= link_to "destroy", restaurant_path(@restaurant), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</p>

<p>
  <img src=<%= @staticMapURL %>>
</p>

<%= render "reservations/place_reservation" %>

<% if current_user && current_user.id == @restaurant.user_id %>
  <h2>Reservations</h2>
  <%= render @restaurant.reservations %>
<% end %>
